
.NewArticle{
  width: 80%;
  margin:20%;
  padding:10%;
  display: flex;
}

.date {
  margin-left: 90px;
}

.NewArticle h1 {
  color:white;
  margin: 1em;
}

.NewArticle input, textarea, button {
  color:black;
  margin: 1em;
}

.ArticleContent {
  height: 300px;
  font-family: arial;
}

.ArticleLead {
  height: 50px;
  font-family: arial;
}

.form{
  display: flex;
  flex-direction: column;
  align-self: normal;
}

.FirstColumn{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 1em;
}

.SecondColumn{
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.Technologies {
  padding: 1em;
  border:1px;
}

.Technologies h2, label {
  color: white;
}

.Options{
  display: flex;
  flex-wrap: wrap;
}