.card-article-img-container img{
  width: 200px;
}

.card-article{
  display: flex;
  border: 1px solid yellow;
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 1em;
}

.card-article-txt-container{
  color: #fff;

  a{
    color: #fff;
  }

  h2{

  }
}

.card-article-img-container{
  margin-right: 2em;
}

