.card-article-img-container img{
  width: 200px;
}

.card-article{
  border: 2px solid #ffffb3b3;
  border-radius: 5px;
  padding: 2em;
  width: 780px;
  margin: 2em auto;
  box-shadow: 0px 0px 20px #7f8000;

  h3::first-letter{
    // font-size: 2em;
  }
  h3{
    font-size: 3em;
    margin: .5em 0;
    font-family: 'Streamster';
    font-weight: normal;
    border-bottom: 1px solid #fff;
    padding-bottom: .4em;
    
    a{
      color: #fff;
      text-decoration: none;
    }
  }
}

.card-article-txt-container{
  color: #fff;
  
  a{
    color: #fff;
  }

  h2{

  }
}

.card-article-img-container{
  width: 100%;
  height: 450px;
  margin: 1.5em 0 2.5em 0;

  a{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
 }
  img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.article-avatar{
  display: flex;
  color: #fff;

  img{
  width: 30px;
  }
}

.Lead_paragraph{
  font-size: 1.2em;
  margin-bottom: 1em;
}


.btn_language{
  border-radius: 50%;
  background: #dd4b21;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.article-avatar{
  
  img{
    margin-right: 1em;
  }
  
  h4{
    font-family: 'Oswald';
    font-weight: 300;
    align-self: center;
  }
  
  .date{
    color: #fff;
    font-family: 'Oswald';
    display: block;
    text-align: right;
    flex-grow: 1;
    font-size: .8em;
    align-self: center;
  }
}

.read_more{
  font-size: 2em;
  text-decoration: none;
  font-family: 'Oswald';
  text-align: right;
  display: block;
}