.editProfile{
  border: 2px solid #b3ebffb3;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #3f617a;
  color:white;
  display: grid;
  font-family: courier;
  max-width: 1000px;
  min-width: 200px;
  margin: 2em auto;
  padding: 1.5em;
  width: 40%;

  form{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    
  }
  label{
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    grid-column: 1/3;

    input{
      padding: 5px;
      border-radius: 5px;
      border: none;
    }
  }
  
  .btn-update{
    background: $pink;
    border: none;
    border-radius: 5px;
    color: $white;
    grid-column: 1;
    padding: 10px 10px;
    margin: auto;
    width: fit-content;
    cursor: pointer;
    
    &:hover{
      background: $violet;
    }
  }
  .btn-return{
    grid-column: 2;
    background: none;
    border: 1px solid #fff;
    text-decoration: none;
    
    &:hover{
      background: #fff;
      color: #000;
    }
  }
  
  h1 {
    color:white;
    margin: 1.0em;
    border-bottom: 1px solid #fff;
    padding-bottom: .4em;
  }
  
  input, textarea, button {
    color:black;
    margin: 0.2em;
  }
  button{
    cursor: pointer;
    margin-left: 3em;
  }

}


@media (max-width: 690px){

  .editProfile{

    h1 {
      font-size: 1.5em !important;
      
    }
  
  }

}