@font-face {
  font-family: 'PressStart2P';
  src: url(../assets/fonts/PressStart2P-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'lazer84';
  src: url(../assets/fonts/Lazer84.ttf) format('truetype');
}

@font-face {
  font-family: 'Road_Rage';
  src: url(../assets/fonts/Road_Rage.otf) format('opentype');
}

@font-face {
  font-family: 'Streamster';
  src: url(../assets/fonts/Streamster.ttf) format('truetype');
}

@font-face {
  font-family: 'Belshaw';
  src: url(../assets/fonts/BELSHAW.TTF) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');