.hero{
  position: relative;
  overflow: hidden;
  height: 750px;

  .hero-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

  .hero-2{
    position: absolute;
    height: 530px;
    margin: 20px ​auto 0 aut;
    object-fit: contain;
    width: 100%;
    right: 130px;
  }

  .hero-3{
    position: absolute;
    height: 450px;
    margin: auto;
    object-fit: contain;
    width: 100%;
    margin-top: 315px;
  }

  .hero-txt-header{
    color: #fff;
    position: absolute;
    object-fit: contain;
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    font-family: 'Belshaw';
    font-weight: normal;
    margin-top: 10px;
  }
  .hero-txt{
    color: #fff;
    position: absolute;
    object-fit: contain;
    width: 100%;
    margin-top: 147px;
    text-align: center;
    font-size: 3.5em;
    left: 143px;
    font-family: 'Belshaw';
    font-weight: normal;
  }
}


.heroMini{
  position: relative;
  overflow: hidden;
  height: 300px;

  .hero-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

  .hero-txt-container{
    position: absolute;
    width: 100%;
    height: 100%;
    // background: #00ff3873;
  }

  .hero-txt{
    color: #fff;
    object-fit: contain;
    width: 844px;
    font-family: 'Belshaw';
    font-weight: normal;
    // background: #ff000073;
    margin: auto;

    h2{
      margin-top: 150px;
      font-size: 3.5em;
    }
    
    h3{
      font-size: 2em;
      
    }
  }
}