.hero{
  position: relative;
  overflow: hidden;
  height: 750px;
  border-bottom: 1px solid #fca4db;
  border-top: 1px solid #fca4db;

  .hero-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

  .hero-2{
    position: absolute;
    height: 530px;
    margin: 20px ​auto 0 auto;
    object-fit: contain;
    width: 100%;
    right: 130px;
  }

  .hero-3{
    position: absolute;
    height: 450px;
    margin: auto;
    object-fit: contain;
    width: 100%;
    margin-top: 315px;
  }

  .hero-txt-header{
    color: #fff;
    position: absolute;
    object-fit: contain;
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    font-family: 'Belshaw';
    font-weight: normal;
    margin-top: 10px;
  }
  .hero-txt{
    color: #fff;
    position: absolute;
    object-fit: contain;
    width: 100%;
    margin-top: 147px;
    text-align: center;
    font-size: 3.5em;
    left: 143px;
    font-family: 'Belshaw';
    font-weight: normal;
  }
}

@media (max-width: 1000px) {
  .hero{
    height: 500px;
  }
  .hero .hero-txt-header{
    font-size: 2em;
  }
  .hero .hero-2{
    height: 400px;
    right: 99px;
    top: 18px;
  }
  .hero .hero-3{
    position: absolute;
    height: 403px;
    margin: auto;
    object-fit: contain;
    width: 100%;
    margin-top: 141px;
  }
  .hero .hero-txt{
    margin-top: 100px;
    font-size: 2.5em;
  }
}

@media (max-width: 570px) {
  .hero {
    height: 388px;
  }

  .hero .hero-2 {
    height: 400px;
    right: 68px;
  }
  
  .hero .hero-txt {
    margin: 125px 0 0 -73px;
    font-size: 1.5em;
  }

  .hero .hero-3 {
    height: 275px;
  }
}

@media (max-width: 500px) {
  .hero .hero-2 {
    top: 18px;
  }
}




.heroMini{
  position: relative;
  overflow: hidden;
  height: 300px;

  .hero-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

  .hero-txt-container{
    position: absolute;
    width: 100%;
    height: 100%;
    // background: #00ff3873;
  }

  .hero-txt{
    color: #fff;
    object-fit: contain;
    width: 844px;
    font-family: 'Belshaw';
    font-weight: normal;
    // background: #ff000073;
    margin: auto;

    h2{
      margin-top: 150px;
      font-size: 3.5em;
    }
    
    h3{
      font-size: 2em;
      
    }
  }
}