body{
  background: linear-gradient(0.25turn, #30243b, #19031c);
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

*{
  margin: 0;
  padding: 0;
}


.hackerman{
  height: 500px;
}

.longpage{
  display: block;
  height: 2000px;
  width: 200px;
}


/*
#F20C28
#FC0DA2
#D600E6
#AB0DFC
#650CF2
*/