@import "components/modal-message.scss";
@import "libs/reset.scss";
@import "libs/colors.scss";
@import "pages/message.scss";
@import "pages/error.scss";
@import "pages/statics.scss";
@import "post.scss";
@import "postCompact.scss";
@import "profile.scss";
@import "footer.scss";
@import "hero.scss";
@import "navbar.scss";
@import "buttons.scss";
@import "fonts.scss";
@import "meet.scss";
@import "mentor.scss";
@import "article.scss";
@import "team.scss";
@import "messages.scss";
@import "showArticle.scss";
@import "CallToAction.scss";
@import "editArticle.scss";
@import "CreateArticle.scss";
@import "indexMentor.scss";
@import "discussions.scss";
@import "appointment.scss";
@import "editProfile.scss";

main {
  padding: 0 2em;
}

.hackerman {
  height: 500px;
}

.longpage {
  display: block;
  height: 2000px;
  width: 200px;
}

a,
p {
  font-family: "courier";
}

.retro-filter {
  position: absolute;
  background: linear-gradient(0.38turn, #fc0da2, #650cf2);
  width: 100%;
  height: 100%;
  opacity: 0.35;
}
