@import "libs/reset.scss";
@import "libs/colors.scss";
@import "post.scss";
@import "footer.scss";
@import "hero.scss";
@import "navbar.scss";
@import "fonts.scss";

.hackerman{
  height: 500px;
}

.longpage{
  display: block;
  height: 2000px;
  width: 200px;
}

a,p{
  font-family: 'Oswald';
  font-weight: 300;
}
