.mentor-list-home{
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin: auto;
  padding: 2em 0;
  max-width: 1200px;

  h1{
    grid-column: 1/4;
    font-family: 'Belshaw';
    font-size: 3em;
    margin-bottom: 1em;
    text-align: center;
  }
  
  .mentor-list{
    text-align: center;
    list-style-type: none;

    &:nth-child(3){
      border-right: 1px solid;
      border-left: 1px solid;
    }

    .title{
      margin-bottom: 1em;

      h2{
        font-family: courier;
        font-size: 2em;
        margin-bottom: .7em;
      }
    }

    .mentor-name{
      color: #fff;

      a{
        color: #fff;
        font-family: courier;
        font-weight: bold;
        text-decoration: none;
        
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 780px) {
  .mentor-list-home{
    grid-template-columns: 1fr;
  }

  .mentor-list-home h1{
    grid-column: auto;
  }

  .mentor-list-home .mentor-list:nth-child(2){
    margin-bottom: 2em;
  }

  .mentor-list-home .mentor-list:nth-child(3){
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: none;
    border-left: none;
    padding: 1em 0;
  }
  .mentor-list-home .mentor-list:nth-child(4){
    margin-bottom: 1em;
  }
}