:root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

.navbar {
  display: flex;
  z-index: 1;
  background: linear-gradient(0.25turn, #30243B, #19031cdb);
  padding: 0;
  position: fixed;
  width: 100%;
  height: 75px;

  .brand-nav{
    align-items: center;
    justify-content: center;
    display: flex;

    img{
      height: 85px;
      margin-right: 1.5em;
    }
  }

  .btns-nav{
    flex: 1;
    text-align: center;
    align-self: center;
    span{
      color: $white;
      margin-right: 25px;
      font-size: 1.6em;
      font-weight: bold;
    }
  }

  .btn-blog{
    align-self: center;
    font-size: 1.6em;
    font-weight: bold;
    margin-right: 25px;

    &:hover{
      text-decoration: underline;
    }
  }

  .btn-connexion{
    align-self: center;
    text-align: center;
    font-size: 1em;
    font-family: 'lazer84';
    letter-spacing: .2rem;
    color: #fff;
    padding-bottom: 10px;
    transition: .8s;
    text-decoration-line: none;
    margin-top: 12px;
  }

  .btn-signin{
    text-shadow:0 0 7px $pink, 0 0 10px $pink, 0 0 21px $pink, 0 0 42px $pink;
    margin-right: 30px;
  }

  .btn-signup{
    text-shadow:0 0 7px $violet, 0 0 10px $violet, 0 0 21px $violet, 0 0 42px $violet;
  }

  .btn-signin:hover{
    text-shadow:0 0 7px $pink, 0 0 10px $pink, 0 0 21px $pink, 0 0 42px $pink, 0 0 82px $pink, 0 0 92px $pink, 0 0 102px $pink, 0 0 151px $pink;
  }

  .btn-signup:hover{
    text-shadow:0 0 7px $violet, 0 0 10px $violet, 0 0 21px $violet, 0 0 42px $violet, 0 0 82px $violet, 0 0 92px $violet, 0 0 102px $violet, 0 0 151px $violet;
  }

  .btn-connexion:hover{
    margin-top: 8px;
    padding-bottom: 17px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 5px;
    text-underline-offset: 6px;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  ul {
    list-style: none;
    margin-right: 30px;
    padding: 0;
  }

  a {
    color: $white;
    text-decoration: none;;
  }

}

.fix-sticky-navbar{
  display: block;
  height: 76px;
}

/* <ul> */
.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

/* <li> */
.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: $violet;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  box-shadow: inset -7px 6px 11px 2px #ffffff47;
  border: 2px solid #cb68fd;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}


/* Dropdown Menu */

.dropdown {
  position: absolute;
  top: 58px;
  width: 278px;
  transform: translateX(-45%);
  background: $dark-gradient;
  border: 1px solid #fca4db;
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}


.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: #40304f;
}

.icon-right {
  margin-left: auto;
}

.find-mentor{
  word-spacing: 0.2em;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {

}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

@media (max-width: 800px) {
  .btns-nav span, .find-mentor{
    display: none;
  }
}

@media (max-width: 600px) {
  .navbar-nav{
    // font-size: .6em;
    letter-spacing: 0;
    justify-content: space-evenly;
  }
  .navbar{
    padding: 0;
  }
  .navbar .brand-nav img{
    margin-right: .8em;
    padding-left: .5em;
  }
  .navbar .btn-signin{
    margin-right: 10px;
  }
  .btn-signup{
    display: none;
  }
  .btns-nav span, .find-mentor{
    display: none;
  }
}

@media (max-width: 500px) {
  .fix-sticky-navbar{
    height: 65px;
  }
  .navbar{
    height: 65px;

    .brand-nav img {
    height: 45px;
    }

    .btn-blog{
      --button-size: calc(var(--nav-size) * 0.5);
      width: var(--button-size);
      height: var(--button-size);
      background-color: #AB0DFC;
      border-radius: 50%;
      padding: 2px;
      margin: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: filter 300ms;
      box-shadow: inset -7px 6px 11px 2px #ffffff47;
      border: 2px solid #cb68fd;
      font-size: .8em;
    }

    .nav-item{
      width: fit-content;
    }
    .icon-button{
      padding: 2px;
    }

    .btns-nav span, .find-mentor{
      display: none;
    }
  }
}
