.navbarOld{
  display: flex;
  width: 100%;
  margin: auto;
  padding: 1em 0;
  font-size: 1.5em;
  border-bottom: 1px solid #fca4db;

  a{
    color: #fff;
    text-decoration: none;
  }

  .icon{
    height: 35px;
  }

  ul{
    display: flex;
    list-style-type: none;
    flex: 1;
    place-content: flex-end;
    margin: auto;
    
    li{
      margin: 0 1em;
    }
  }

  .publications{
    margin: auto 0;

    a{
    display: flex;
    align-items: center;
    }

    h2{
      font-size: 1em;
      margin-left: 1em;
    }
  }
}
.brand-nav{
  padding: 0 2em;
  
  img{
    height: 85px;
  }
}

.sign_content{
  display: flex;
  margin-left: auto;
  padding-right: 2em;
  list-style: none;

  img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 50%;
    left: 50%;
  }

  li a{
    position: relative;
    display: block;
    width: 180px;
  }

  .sign_in{
    margin-left: 1em;
  }
}