.newRDV h1{
    color: white;
}

.mentor_card{
  background-color: blueviolet!
}

.avatar_mentor {
  height: 100px;

}

.mentor-container {  
  display:flex;
  justify-content: start;
  align-items: center;
}




